@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Inter";
}

main {
  margin: 0 auto;
  max-width: 800px;
  border: 3px rgb(96, 95, 95) solid;
  margin-bottom: 30px;
}

.logo {
  height: 50px;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

table#newsletter {
  background-color: #fff4e6;
  border-spacing: 0;
  margin-bottom: 20px;
}

/* first row */

.first-row-left{
  width: 40%;
}

.first-row-middle{
  width: 20%;
}

.first-row-right {
  width: 40%;
}

/* second-row */

.images {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
}

.read-more {
  width: 100%;
  display: inline-block;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
}

/* fifth-row */

.card {
  max-width: 90%;
  margin: 35px auto;
  background-color: white;
  border: solid 2px black;
  border-radius: 15px;
  padding:45px;
}

.ask-button {
  background-color: #f9db52;
  font-size: 16px;
  padding: 10px 15px;
  border: solid 3px black;
  border-radius: 35px;
  cursor: pointer;
}

.card h2{
  margin-top: 40px;
}

.card p {
  font-size: 19px;
}

.learn-more {
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid black;
  display: inline-block;
  border-radius: 25px;
}

/* sixth-row */

.LOGO {
  max-height: 60PX;
}

/* footer */

footer {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 800px;
}

footer td:nth-of-type(2) {
  vertical-align: top;
  text-align: right;
}



#first-row td,
#fourth-row td {
  padding: 20px;
}

#second-row td,
#third-row td,
#fifth-row td,
#sixth-row td {
  padding: 40px;
}

#first-row td:last-child {
  text-align: right;
}

#fourth-row {
  background-color: #f9db52;
  text-align: center;
}

#fourth-row td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#fourth-row p {
  margin: 0;
  background-color: #f9db52;
  text-align: center;
}

#fifth-row div {
  padding: 40px;
  border: 1px solid black;
  border-radius: 20px;
}

#fifth-row div button {
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #f9db52;
}

#sixth-row {
  text-align: center;
}

#sixth-row div {
  border: 1px solid black;
  padding: 40px;
  border-radius: 20px;
}

#sixth-row div small {
  display: inline-block;
  margin-bottom: 20px;
}

#sixth-row div p {
  font-size: 20px;
}


